@import '../mixins/mixin';
@import '../variables/variable';

/*==========================================================================
                                    contact part start
============================================================================*/
#contact {
    padding: 85px 0 65px;

    .common_head {
        p {
            padding-top: 15px;
            width: 680px;
            margin: 0 auto;
        }
    }
}

/*==========================================================================
                                    contact part end
============================================================================*/