@import '../mixins/mixin';
@import '../variables/variable';

/*==========================================================================
                                    footer part start
============================================================================*/
#footer {
    padding: 30px 0 20px;
    background: #000;

    .footer_link {
        a {
            @include fs($pera_color, 12px, 400, $open);
            text-transform: uppercase;

            i {
                padding-right: 3px;
            }
        }
    }
}

/*==========================================================================
                                    footer part end
============================================================================*/